@import "./reset.css";
@import "./navigation.css";
@import "./footer.css";

.full_page {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

.title {
    padding: 5px;
    opacity: 0.7;
    font-size: 50px;
}
.title:hover{
    opacity: 1;
    text-decoration-thickness:30px;
    text-shadow: 1px 1px 1px rgb(78, 78, 77),
                     2px 2px 1px rgb(218, 215, 215);
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}

.top {
    width: 100%;
    height:15%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
}

.head {
    margin-top: 4%;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255)); */
}

.nav{
    width:100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    /* background-image: linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0)); */
}

.menu {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    opacity: 0.7;
}

.menu:hover {
    color:rgb(58, 57, 57);
    text-decoration-line: underline;
    opacity: 1;
}

.content {
    background-color: #2e2e2e;
    display: grid;
    grid-gap: 20px;
    padding: 5px 0 5px 0;
    margin-top: 12%;
    min-height: calc()
}

.text {
    padding: 15px;
}

.card-text {
    font-family: 'Noto Sans', sans-serif;
}

.card-pic {
    margin-top: 15px;
    align-items: center;
    border: 20px;
    border-radius: 25px;
    border-color: #242323;
    height: 150px;
    object-fit: cover;
    margin-left:13%;
    margin-right:13%
    
}

.card {
    background-color: #c0b7b8;
    padding: 5px;
    border-radius: 15px;
    border: 2pt;
    border-color: #242323;
    align-items: flex-start;
}

.card-head {
    text-align: center;
    font-weight: 800;
}

.post-date {
    text-align: center;
    font-style: italic;
    padding-bottom: 10pt;
}

.post-link{
    padding-top: 5pt;
    padding-left:37% ;
    padding-bottom: 5pt;
    color: rgb(122, 38, 7);
    display: flex;
    text-align: justify;
}

.post-link:hover {
    background-color: #7a7a7a;
    text-decoration: underline;
    color: #FFF;
}
.footer_box {
    grid-area: ft;
    display: flex;
	flex-direction: column;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
	height: 30px;
    padding-top: 5px;
    width: 100%;
	padding-bottom: 100px;
    text-align: center;
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
}
.link-img {
	width: 30px;
	height: 30px;
	opacity: 0.7;
	margin: auto 10px;
}
.link-img:hover {
	opacity: 1;
	transform: scale(1.3);
}
.name{
    padding-bottom: 5px;
}

/* Mobile */
@media (max-width: 500px) {
    .top{
        height: 22%;
    }
    .head {
        padding-top: 8%;
        height: 80px;
    }

    .nav-menu {
        padding-top: 2%;
        height: 120px;
    }

    .menu {
        display: block;
        padding: 1px;
    }

    .content {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30%;
    }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 1000px) {
    .nav-menu,.head {
        height: 15%;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 13%;
    }
}

/* Desktop */
@media (min-width: 1001px) {
    .page {
        width: 1000px;
        margin: 0 auto;
    }

    .nav-menu,.head {
        height: 16%;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 7.5%;
    }
}